.kqxs {
  &_copyRight {
    text-align: center;
    color: #666;
    padding: 15px 0 0 0;
    margin-bottom: 30px;
    border-top: 1px solid #e7e7e7;
    float: left;
    margin-top: 10px;
    padding: 0 10px;

    & p {
      font-size: 14px;
      font: 400 14px arial !important;
    }
  }

  &_footerInner {
    padding: 10px 0 0 0;
  }

  &_logoFooter {
    display: inline-block;
  }
  &_footerLogoImg {
    width: 170px;
  }
}
