<table class="kqxs_result">
  <tbody>
    <tr class="result_head">
      <td class="result_title">Giải</td>
      <td>
        <a href="/">KQXS Đắk Lắk 10/03/2020aaaaaa</a>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 8</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 7</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 6</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>

    <tr>
      <td class="result_detail">
        <span>Giải 5</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 4</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 3</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 2</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải 1</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
    <tr>
      <td class="result_detail">
        <span>Giải Đặc Biệt</span>
      </td>
      <td class="result_number">
        <span>88</span>
      </td>
    </tr>
  </tbody>
</table>
