<div class="block info-result">
  <h2 class="info_title">Thông Tin Về Kết Quả Xổ Số Kiến Thiết Miền Trung</h2>
  <ul class="info_contentList">
    <li class="info_contentItem">
      <div class="info_titleCalendar">
        <span class="info_txt">
          Lịch mở thưởng
        </span>
      </div>
      <ul class="info_subList">
        <li class="info_subItem"><span class="">Thứ Hai:</span> <a href="/">Phú Yên - TT.Huế</a></li>
        <li class="info_subItem"><span>Thứ Ba:</span> <a href="/">Phú Yên - TT.Huế</a></li>
        <li class="info_subItem"><span>Thứ Tu:</span> <a href="/">Phú Yên - TT.Huế</a></li>
        <li class="info_subItem"><span>Thứ Nam:</span> <a href="/">Phú Yên - TT.Huế</a></li>
        <li class="info_subItem"><span>Thứ Sau:</span> <a href="/">Phú Yên - TT.Huế</a></li>
        <li class="info_subItem"><span>Thứ Bay:</span> <a href="/">Phú Yên - TT.Huế</a></li>
        <li class="info_subItem"><span>Thứ Chu Nhat:</span> <a href="/">Phú Yên - TT.Huế</a></li>
      </ul>
    </li>
    <li class="info_contentItem">
      <div class="info_titleCalendar">
        <span class="info_txt">
          Cơ cấu giải thưởng
        </span>
      </div>
      <ul class="info_subList">
        <li class="info_subItem">
          Vé số truyền thống miền Nam phát hành loại vé với mệnh giá 10.000đ
          (mười nghìn đồng).
        </li>
        <li class="info_subItem">Mỗi tỉnh phát hành 1.000.000 vé loại 6 chữ số.</li>
        <li class="info_subItem">
          Kết quả xổ số miền Trung có 9 giải (từ giải ĐB đến giải Tám) bao gồm
          18 dãy số, tương đương với 18 lần quay thưởng.
        </li>
      </ul>
    </li>
  </ul>
  <table class="table-award">
    <thead>
      <tr>
        <th style="width: 20%;">Giải thưởng</th>
        <th>Tiền thưởng (VNĐ)</th>
        <th style="width: 20%;">Trùng</th>
        <th>Số lượng giải thưởng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Giải ĐB</td>
        <td>2.000.000.000</td>
        <td>6 số</td>
        <td class="text-center">01</td>
      </tr>
      <tr>
        <td>Giải Nhất</td>
        <td>30.000.000</td>
        <td>5 số</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>Giải Nhì</td>
        <td>15.000.000</td>
        <td>5 số</td>
        <td class="text-center">10</td>
      </tr>
      <tr>
        <td>Giải Ba</td>
        <td>10.000.000</td>
        <td>5 số</td>
        <td class="text-center">20</td>
      </tr>
      <tr>
        <td>Giải Tư</td>
        <td>3.000.000</td>
        <td>5 số</td>
        <td class="text-center">70</td>
      </tr>
      <tr>
        <td>Giải Năm</td>
        <td>1.000.000</td>
        <td>4 số</td>
        <td class="text-center">100</td>
      </tr>
      <tr>
        <td>Giải Sáu</td>
        <td>400.000</td>
        <td>4 số</td>
        <td class="text-center">300</td>
      </tr>
      <tr>
        <td>Giải Bảy</td>
        <td>200.000</td>
        <td>3 số</td>
        <td class="text-center">1.000</td>
      </tr>
      <tr>
        <td>Giải Tám</td>
        <td>100.000</td>
        <td>2 số</td>
        <td class="text-center">10.000</td>
      </tr>
    </tbody>
  </table>
</div>
