<div class="kqxs_link">
  <div class="link_title">
    <span class="link_txt">
      Kết quả xổ số Miền Bắc
    </span>
  </div>
  <ul class="link_list">
    <li class="link_item">
      <a href="/">Xổ số Hà Nội </a>
    </li>
    <li class="link_item">
      <a href="/">Xổ số Hà Bắc Ninh </a>
    </li>
    <li class="link_item">
      <a href="/">Xổ số Hạ Long </a>
    </li>
  </ul>
</div>
