
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en"  xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COVID-19 Form</title>
<link rel="stylesheet" type="text/css" href="/static/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/view.mobile.css" media="all" />

</head>
<body id="main_body">
	<div id="form_container" class="">

		<h1><a>Covid-19 form</a></h1>

		<div class="form_success">
			<h2>Sorry, We are bussy</h2>
		</div>
		<div id="footer" class="success">

		</div>
	</div>
</body>
</html>
