<table class="tbKq tbKq_mienBac">
  <tbody>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai tbKq_giai-7">Giải bảy</td>
      <td class="tbKq_ketQua">99</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai">Giải sáu</td>
      <td class="tbKq_ketQua">99</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai">Giải năm</td>
      <td class="tbKq_ketQua">99</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai">Giải bốn</td>
      <td class="tbKq_ketQua">99</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai">Giải ba</td>
      <td class="tbKq_ketQua">99</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai">Giải nhì</td>
      <td class="tbKq_ketQua">99900<br>99900-99900-99900-99900</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai">Giải nhất</td>
      <td class="tbKq_ketQua">99</td>
    </tr>
    <tr class="tbKq_listKq">
      <td class="tbKq_giai tbKq_giai-db">Giải Đặc Biệt</td>
      <td class="tbKq_ketQua tbKq_ketQua-db">99900</td>
    </tr>
  </tbody>
</table>
